.container {
    display: flex;
    align-items: center;
    width: 46rem;
    height: 3rem;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 1rem;
    justify-content: space-between;
    margin: 1rem 0;
}

.deleteItemButton {
    background: transparent;
    border: 0;
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
}

.checkboxContainer {
    font-size: .875rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.checkboxContainer label {
    cursor: pointer;
}

.checkboxWrapper {
    border-radius: 16px;
    border: 2px solid var(--blue-300);
    background: var(--gray-500);
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkboxWrapper[data-state='checked'] {
    background: var(--pink-500);
    border: 2px solid var(--pink-500); 
    
}

.checkboxWrapper[data-state='checked'] + label {
    text-decoration: line-through;
    color: var(--gray-300);
}