.container {
    display: flex;
    flex-direction: column;  
    align-items: center;  
}

/* -------- HEADER -------- */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    gap: 1rem;
    color: var(--blue-300);
}

header h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 0;
    cursor: default;
}

header h1 span {
    color: var(--pink-500);
}

/* -------- CREATE ITEM CONTAINER -------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 56rem;
    padding: 1rem;
    background-color: var(--gray-700);
}

.createItemContainer {
    display: flex;
    gap: .8rem;
    align-items: center;
}

.createItemContainer input {
    width: 40rem;
    height: 3.2rem;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    color: var(--gray-300);
    padding: 1rem;
}

.createItemContainer button {
    width: 5.6rem;
    height: 3.1rem;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    font-weight: 700;
    gap: .2rem;
    background: var(--blue-500);
    color: var(--gray-100);
    cursor: pointer;
    transition: filter 0.3s;
}

.createItemContainer button:hover {
    filter: brightness(1.2);
}

/* -------- ITEMS CONTAINER -------- */

.itemsContainer {
    display: flex;
    justify-content: space-between;
    width: 46rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--gray-400);
    
}

.itemsContainer p {
    font-size: .875rem;
    font-weight: 700;
    color: var(--blue-300);
    cursor: default;
}

.itemsContainer p:last-child {
    color: var(--pink-300);
}

.itemsContainer span {
    padding: .2rem .8rem;
    color: white;
    background-color: var(--gray-400);
    border-radius: 12px;
    cursor: default;
}

.itemsWrapper {
    overflow-y: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 25rem;
}

.itemsWrapper::-webkit-scrollbar{
    background: transparent;
    width: 0;
}

.emptyItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    
}

.emptyItemsContainer p {
    color: var(--gray-300);
    font-weight: 700;
}

.emptyItemsContainer p:last-child {
    font-weight: 400;
}

.icon {
    margin-bottom: 1rem;
}

/* -------- FOOTER -------- */

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 46rem;
    height: 5rem;
}

footer button {
    width: 6.6rem;
    height: 3.1rem;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    font-weight: 700;
    gap: .2rem;
    background: var(--red-300);
    color: var(--gray-100);
    cursor: pointer;
    transition: filter 0.3s;
}

footer button:hover {
    filter: brightness(1.2);
}